* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: initial;
}

img {
  width: 100%;
}

.off {
  display: none;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

nav {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;
  background-color: black;
  color: #fff;
  z-index: 999;
}
nav .logo a {
  color: #fff;
}
nav .menu {
  display: flex;
  align-items: center;
  text-align: center;
}
nav .menu a {
  color: #fff;
  width: 100px;
  align-items: center;
}
nav .menu .login_box {
  display: flex;
}
nav .menu .login_box a {
  display: inline-block;
  width: 100px;
}

.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.534);
}
.modal .msg_box {
  position: absolute;
  width: 300px;
  height: 170px;
  top: 50%;
  left: 50%;
  background-color: #e9bcdd;
  transform: translate(-50%, -50%);
  z-index: 999;
}
.modal .msg_box .msg_inner {
  position: relative;
  padding: 20px 30px;
}
.modal .msg_box .msg_inner .txt_box {
  margin-top: 30px;
}
.modal .msg_box .msg_inner .txt_box h3 {
  font-size: 36px;
}
.modal .msg_box .msg_inner .txt_box p {
  font-size: 17px;
  line-height: 28px;
}
.modal .msg_box .msg_inner .btn_close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

#map {
  position: relative;
  width: 100%;
  height: 100%;
}

section {
  width: 100vw;
  height: 100vh;
}
section .form_box {
  position: relative;
  justify-content: space-between;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f4e8ff;
  border-radius: 20px;
  width: 350px;
  height: 450px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
section .form_box h2 {
  font-size: 28px;
  margin-bottom: 10px;
}
section .form_box input {
  position: relative;
  border-radius: 5px;
  border: none;
  box-shadow: 5px 5px 5px rgba(83, 81, 85, 0.384);
  letter-spacing: 1px;
  text-indent: 10px;
  height: 25px;
}
section .form_box input[type=file] {
  box-shadow: none;
}
section .form_box input:invalid {
  background-color: rgba(255, 0, 149, 0.26);
}
section .form_box textarea {
  border: none;
  border-radius: 5px;
  letter-spacing: 1px;
  padding: 7px;
  font-weight: 600;
}
section .form_box button {
  border: none;
  height: 30px;
  cursor: pointer;
  margin-top: 10px;
}
section .form_box .rate_input {
  position: relative;
  width: 180px;
  height: 50px;
  font-size: 36px;
}
section .form_box .rate_input span {
  position: absolute;
  width: 100%;
  z-index: 1;
  line-height: 35px;
  color: #bebcbc;
}
section .form_box .rate_input span.filled {
  width: 50%;
  overflow: hidden;
  color: red;
  z-index: 9;
}
section .form_box .rate_input input[name=rate] {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99;
  opacity: 0;
  cursor: pointer;
}

.section_login .form_login {
  width: 300px;
  height: 250px;
}

.section_register .form_register {
  width: 300px;
  height: 250px;
}

.section_list {
  overflow-y: scroll;
}
.section_list .list_box {
  width: 80%;
  margin: 0 auto;
}
.section_list .list_box .list_item {
  display: flex;
  align-items: center;
  height: auto;
  margin: 20px;
  background-color: rgba(231, 198, 223, 0.295);
}
.section_list .list_box .list_item .img_box {
  width: 50%;
}
.section_list .list_box .list_item .txt_box {
  width: 50%;
  padding: 5%;
  height: auto;
}
.section_list .list_box .list_item .txt_box h3 {
  font-size: 24px;
}
.section_list .list_box .list_item .txt_box p {
  font-size: 16px;
  line-height: 28px;
}
.section_list .list_box .list_item .txt_box .btn_view {
  display: block;
  width: 150px;
  line-height: 40px;
  margin-top: 20px;
  text-align: center;
  border-radius: 5px;
  color: #fff;
  background-color: #caa8e9;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.26);
}

.section_place {
  width: 100%;
  height: 100%;
}
.section_place .place_box {
  display: flex;
  width: 80%;
  border: 2px solid red;
  margin: 0 auto;
}
.section_place .place_box .item_box {
  width: 50%;
}
.section_place .place_box .item_box button.del_place {
  margin-right: 5px;
  font-size: 12px;
  padding: 5px;
  cursor: pointer;
  border: none;
  background-color: #f8e2c8;
}
.section_place .place_box .review_box {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.section_place .place_box .review_box .review_add {
  position: relative;
  margin: 20px auto;
  width: 100%;
  padding: 20px 30px;
}
.section_place .place_box .review_box .review_add form {
  position: relative;
  display: flex;
  width: 100%;
  height: 250px;
  flex-direction: column;
}
.section_place .place_box .review_box .review_add form .top_box {
  display: flex;
  align-items: center;
}
.section_place .place_box .review_box .review_add form .top_box .rate_input {
  position: relative;
  width: 180px;
  height: 50px;
  margin-left: 110px;
  font-size: 36px;
}
.section_place .place_box .review_box .review_add form .top_box .rate_input span {
  position: absolute;
  width: 100%;
  z-index: 1;
  line-height: 35px;
  color: #bebcbc;
}
.section_place .place_box .review_box .review_add form .top_box .rate_input span.filled {
  width: 50%;
  overflow: hidden;
  color: red;
  z-index: 9;
}
.section_place .place_box .review_box .review_add form .top_box .rate_input input[name=rate] {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99;
  opacity: 0;
  cursor: pointer;
}
.section_place .place_box .review_box .review_add form .bottom_box textarea {
  padding: 5%;
  width: 100%;
  height: 150px;
}
.section_place .place_box .review_box .review_add form .bottom_box input[type=submit] {
  position: absolute;
  width: 30%;
  margin: 0 auto;
  top: 75%;
  right: 10%;
  cursor: pointer;
}
.section_place .place_box .review_box .review_list {
  height: 300px;
  padding: 20px 30px;
  overflow-y: scroll;
}
.section_place .place_box .review_box .review_list .review_item {
  position: relative;
  padding: 10px;
  margin-bottom: 10px;
  background-color: antiquewhite;
}
.section_place .place_box .review_box .review_list .review_item .review_edit {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: space-between;
  width: 70px;
}
.section_place .place_box .review_box .review_list .review_item .review_edit p {
  font-size: 12px;
  color: #4e4c4c;
  cursor: pointer;
}
.section_place .place_box .review_box .review_list .review_item .review_rate {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  width: 110px;
  height: 28px;
}
.section_place .place_box .review_box .review_list .review_item .review_rate span {
  position: absolute;
  color: #bebcbc;
  font-size: 22px;
  text-align: center;
  z-index: 1;
}
.section_place .place_box .review_box .review_list .review_item .review_rate span.filled {
  color: red;
  width: 20%;
  overflow: hidden;
}
.section_place .place_box .review_box .review_list .review_item .review_txt {
  padding: 5px;
}
.section_place .place_box .review_box .review_list .review_item .review_txt h3 {
  font-size: 16px;
}
.section_place .place_box .review_box .review_list .review_item .review_txt p {
  margin: 15px;
  font-size: 16px;
}
.section_place .place_box .review_box .review_list .review_item .del_review {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

/*# sourceMappingURL=index.css.map */
