@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,900;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
* {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: initial;
}

img {
  width: 100%;
}

.off {
  display: none !important;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

nav {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;
  background: linear-gradient(to bottom, rgba(245, 244, 244, 0.459), rgba(180, 180, 180, 0.459));
  z-index: 999;
}
nav .logo a {
  color: #131577;
  font-size: 32px;
  letter-spacing: 2px;
  font-family: "Lobster", cursive;
}
nav .menu {
  display: flex;
  align-items: center;
  text-align: center;
}
nav .menu a {
  color: #131577;
  font-family: "Lobster", cursive;
  font-size: 22px;
  letter-spacing: 1px;
  width: 100px;
  align-items: center;
}
nav .menu .login_box {
  display: flex;
}
nav .menu .login_box a {
  display: inline-block;
  width: 100px;
}

#map {
  position: relative;
  width: 100%;
  height: 100%;
}

section {
  width: 100vw;
  height: 100vh;
  background-color: rgba(190, 190, 190, 0.164);
}
section .form_box {
  position: relative;
  justify-content: space-between;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 20px;
  width: 350px;
  height: 450px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
section .form_box:before {
  position: absolute;
  top: -20px;
  right: 10px;
  z-index: 99;
  width: 65px;
  height: 65px;
  opacity: 1;
  content: "";
  background: url("https://cdn.pixabay.com/photo/2017/07/17/13/25/seal-2512363_960_720.png") center/cover no-repeat;
}
section .form_box h2 {
  font-family: "Lobster", cursive;
  color: rgba(16, 18, 129, 0.973);
  font-size: 32px;
  letter-spacing: 4px;
  margin-bottom: 10px;
}
section .form_box input {
  position: relative;
  border-radius: 5px;
  border: none;
  box-shadow: 5px 5px 5px rgba(83, 81, 85, 0.205);
  letter-spacing: 1px;
  text-indent: 10px;
  height: 25px;
}
section .form_box input[type=file] {
  box-shadow: none;
}
section .form_box input:invalid {
  background-color: rgba(249, 250, 252, 0.938);
}
section .form_box textarea {
  border: none;
  border-radius: 5px;
  letter-spacing: 1px;
  padding: 7px;
  font-weight: 500;
}
section .form_box .btn_submit {
  border: none;
  height: 30px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 16px;
  background: linear-gradient(to bottom, rgba(245, 244, 244, 0.459), rgba(180, 180, 180, 0.459));
  box-shadow: none;
}
section .form_box .btn_submit:hover {
  transition: 0.2s;
  color: #fff;
  background: transparent;
  background-color: #1a1c9b;
}

.section_login:before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  opacity: 0.9;
  background: url("https://cdn.pixabay.com/photo/2017/06/14/08/20/map-of-the-world-2401458_960_720.jpg") center/cover no-repeat;
}
.section_login .form_login {
  width: 300px;
  height: 250px;
}

.section_register:before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  opacity: 0.9;
  background: url("https://cdn.pixabay.com/photo/2017/06/14/08/20/map-of-the-world-2401458_960_720.jpg") center/cover no-repeat;
}
.section_register .form_register {
  width: 300px;
  height: 250px;
}

.section_new:before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  opacity: 0.9;
  background: url("https://cdn.pixabay.com/photo/2017/06/14/08/20/map-of-the-world-2401458_960_720.jpg") center/cover no-repeat;
}
.section_new .form_box {
  height: auto;
}
.section_new .form_box input {
  margin: 10px 0;
  font-size: 16px;
}
.section_new .form_box input[type=file] {
  font-size: 14px;
}
.section_new .form_box label {
  font-size: 18px;
  color: rgba(16, 18, 129, 0.973);
  font-weight: 900;
  margin: 5px;
}
.section_new .pre_img {
  width: 300px;
  margin: 0 auto;
}

.section_list {
  overflow-y: scroll;
}
.section_list .list_box {
  width: 80%;
  margin: 0 auto 100px;
}
.section_list .list_box .list_item {
  position: relative;
  display: flex;
  align-items: center;
  height: 370px;
  overflow: hidden;
  margin: 20px;
  background-color: rgba(228, 228, 230, 0.993);
  background: linear-gradient(to bottom, rgba(236, 235, 235, 0.459), rgba(209, 208, 208, 0.459));
}
.section_list .list_box .list_item .img_box {
  width: 50%;
  width: 800px;
}
.section_list .list_box .list_item .txt_box {
  position: relative;
  width: 50%;
  left: -100px;
  padding: 40px;
  height: auto;
  background-color: #fff;
  border-radius: 20px;
}
.section_list .list_box .list_item .txt_box h3 {
  font-size: 28px;
  letter-spacing: 1px;
}
.section_list .list_box .list_item .txt_box p {
  font-size: 18px;
  line-height: 28px;
}
.section_list .list_box .list_item .txt_box .rate_box {
  display: flex;
  top: -60px;
  right: -60px;
  position: absolute;
}
.section_list .list_box .list_item .txt_box .btn_view {
  float: right;
  display: block;
  width: 150px;
  line-height: 40px;
  margin-top: 20px;
  text-align: center;
  border-radius: 5px;
  color: #fff;
  background-color: #1a1c9b;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.26);
}

.section_place {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.section_place .place_box {
  display: flex;
  width: 82vw;
  margin: 0 auto;
}
.section_place .place_box .item_box {
  position: relative;
  width: 50%;
  padding: 20px;
}
.section_place .place_box .item_box .detail_box .img_box {
  width: 580px;
}
.section_place .place_box .item_box .detail_box .txt_box {
  padding: 20px 0;
}
.section_place .place_box .item_box .detail_box .txt_box .intro_box {
  display: flex;
  align-items: center;
}
.section_place .place_box .item_box .detail_box .txt_box .intro_box h3 {
  font-size: 28px;
}
.section_place .place_box .item_box .detail_box .txt_box .intro_box .rate_input {
  margin: 0 5px;
  width: 71px;
  height: 14px;
  font-size: 14px;
}
.section_place .place_box .item_box .detail_box .txt_box .intro_box .rate_input span {
  line-height: 14px;
}
.section_place .place_box .item_box .detail_box .txt_box .intro_box p {
  font-size: 14px;
}
.section_place .place_box .item_box .detail_box .txt_box p {
  font-size: 16px;
}
.section_place .place_box .item_box .opt_box {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.section_place .place_box .item_box .opt_box button.del_place {
  font-size: 12px;
  width: 100px;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  border: none;
  background-color: rgba(19, 21, 119, 0.11);
  background: linear-gradient(to bottom, rgba(240, 238, 238, 0.459), rgba(223, 221, 221, 0.459));
}
.section_place .place_box .item_box .opt_box button.del_place:hover {
  background: transparent;
  background-color: rgba(182, 11, 11, 0.911);
  transition: 0.3s;
  color: #fff;
}
.section_place .place_box .item_box .opt_box #map {
  position: relative;
  width: 200px;
  height: 100px;
}
.section_place .place_box .review_box {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.section_place .place_box .review_box .review_add {
  position: relative;
  margin: 20px auto;
  width: 100%;
  padding: 20px 30px;
}
.section_place .place_box .review_box .review_add form {
  position: relative;
  display: flex;
  width: 100%;
  height: 250px;
  flex-direction: column;
  background-color: #e7e7ec;
  background: linear-gradient(to bottom, rgba(236, 235, 235, 0.459), rgba(209, 208, 208, 0.459));
}
.section_place .place_box .review_box .review_add form .top_box {
  display: flex;
  align-items: center;
}
.section_place .place_box .review_box .review_add form .top_box h3 {
  font-size: 24px;
  color: #131577;
}
.section_place .place_box .review_box .review_add form .top_box .rate_input {
  position: relative;
  width: 180px;
  height: 50px;
  margin-left: 90px;
  font-size: 36px;
}
.section_place .place_box .review_box .review_add form .top_box .rate_input span {
  position: absolute;
  width: 100%;
  z-index: 1;
  line-height: 35px;
  color: #bebcbc;
}
.section_place .place_box .review_box .review_add form .top_box .rate_input span.filled {
  width: 60%;
  overflow: hidden;
  color: red;
  z-index: 9;
}
.section_place .place_box .review_box .review_add form .top_box .rate_input input[name=rate] {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99;
  opacity: 0;
  cursor: pointer;
}
.section_place .place_box .review_box .review_add form .bottom_box textarea {
  padding: 5%;
  width: 100%;
  height: 150px;
}
.section_place .place_box .review_box .review_add form .bottom_box input[type=submit] {
  position: absolute;
  width: 30%;
  margin: 0 auto;
  top: 75%;
  right: 10%;
  cursor: pointer;
}
.section_place .place_box .review_box .review_list {
  padding: 20px 30px;
  margin-bottom: 50px;
}
.section_place .place_box .review_box .review_list .review_item {
  position: relative;
  padding: 10px;
  margin-bottom: 10px;
  background: linear-gradient(to bottom, rgba(240, 238, 238, 0.459), rgba(223, 221, 221, 0.459));
}
.section_place .place_box .review_box .review_list .review_item .review_edit {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: space-between;
  width: 70px;
}
.section_place .place_box .review_box .review_list .review_item .review_edit p {
  font-size: 12px;
  color: #4e4c4c;
  cursor: pointer;
}
.section_place .place_box .review_box .review_list .review_item .review_rate {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  width: 110px;
  height: 28px;
}
.section_place .place_box .review_box .review_list .review_item .review_rate span {
  position: absolute;
  color: #bebcbc;
  font-size: 22px;
  text-align: center;
  z-index: 1;
}
.section_place .place_box .review_box .review_list .review_item .review_rate span.filled {
  color: red;
  width: 20%;
  overflow: hidden;
}
.section_place .place_box .review_box .review_list .review_item .review_txt {
  padding: 5px;
}
.section_place .place_box .review_box .review_list .review_item .review_txt h3 {
  font-size: 16px;
}
.section_place .place_box .review_box .review_list .review_item .review_txt p {
  margin: 15px;
  font-size: 16px;
}
.section_place .place_box .review_box .review_list .review_item .del_review {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.mapboxgl-popup-content {
  padding: 15px 5px;
}
.mapboxgl-popup-content img {
  width: 120px;
  height: 70px;
}
.mapboxgl-popup-content h2 {
  font-size: 13px;
  text-align: center;
  font-weight: 200;
}

.rate_input {
  position: relative;
  width: 180px;
  height: 50px;
  font-size: 36px;
}
.rate_input span {
  position: absolute;
  width: 100%;
  z-index: 1;
  line-height: 35px;
  color: #bebcbc;
}
.rate_input span.filled {
  width: 60%;
  overflow: hidden;
  color: red;
  z-index: 9;
}
.rate_input input[name=rate] {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99;
  opacity: 0;
  cursor: pointer;
}

@media (min-width: 768px) and (max-width: 1440px) {
  nav {
    width: 100vw;
    padding: 1.0417vw 1.7361vw;
    background: linear-gradient(to bottom, rgba(245, 244, 244, 0.459), rgba(180, 180, 180, 0.459));
  }
  nav .logo a {
    color: #131577;
    font-size: 2.2222vw;
    letter-spacing: 0.1389vw;
    font-family: "Lobster", cursive;
  }
  nav .menu {
    align-items: center;
  }
  nav .menu a {
    color: #131577;
    font-family: "Lobster", cursive;
    font-size: 1.5278vw;
    letter-spacing: 0.0694vw;
    width: 6.9444vw;
    align-items: center;
  }
  nav .menu .login_box a {
    width: 6.9444vw;
  }

  #map {
    width: 100%;
    height: 100%;
  }

  section {
    width: 100vw;
    height: 100vh;
    background-color: rgba(190, 190, 190, 0.164);
  }
  section .form_box {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1.3889vw;
    width: 24.3056vw;
    height: 31.25vw;
    padding: 1.3889vw;
    flex-direction: column;
  }
  section .form_box:before {
    top: -1.3889vw;
    right: 0.6944vw;
    width: 4.5139vw;
    height: 4.5139vw;
    opacity: 1;
    background: url("https://cdn.pixabay.com/photo/2017/07/17/13/25/seal-2512363_960_720.png") center/cover no-repeat;
  }
  section .form_box h2 {
    font-family: "Lobster", cursive;
    color: rgba(16, 18, 129, 0.973);
    font-size: 2.2222vw;
    letter-spacing: 0.2778vw;
    margin-bottom: 0.6944vw;
  }
  section .form_box input {
    border-radius: 0.3472vw;
    border: none;
    box-shadow: 0.3472vw 0.3472vw 0.3472vw rgba(83, 81, 85, 0.205);
    letter-spacing: 0.0694vw;
    text-indent: 0.6944vw;
    height: 1.7361vw;
  }
  section .form_box input[type=file] {
    box-shadow: none;
  }
  section .form_box input:invalid {
    background-color: rgba(249, 250, 252, 0.938);
  }
  section .form_box textarea {
    border: none;
    border-radius: 0.3472vw;
    letter-spacing: 0.0694vw;
    padding: 0.4861vw;
  }
  section .form_box .btn_submit {
    border: none;
    height: 2.0833vw;
    cursor: pointer;
    margin-top: 0.6944vw;
    font-size: 1.1111vw;
    background: linear-gradient(to bottom, rgba(245, 244, 244, 0.459), rgba(180, 180, 180, 0.459));
    box-shadow: none;
  }
  section .form_box .btn_submit:hover {
    transition: 0.2s;
    background: transparent;
    background-color: #1a1c9b;
  }

  .section_login:before {
    width: 100%;
    height: 100%;
    opacity: 0.9;
    background: url("https://cdn.pixabay.com/photo/2017/06/14/08/20/map-of-the-world-2401458_960_720.jpg") center/cover no-repeat;
  }
  .section_login .form_login {
    width: 20.8333vw;
    height: 17.3611vw;
  }

  .section_register:before {
    width: 100%;
    height: 100%;
    opacity: 0.9;
    background: url("https://cdn.pixabay.com/photo/2017/06/14/08/20/map-of-the-world-2401458_960_720.jpg") center/cover no-repeat;
  }
  .section_register .form_register {
    width: 20.8333vw;
    height: 17.3611vw;
  }

  .section_new:before {
    width: 100%;
    height: 100%;
    opacity: 0.9;
    background: url("https://cdn.pixabay.com/photo/2017/06/14/08/20/map-of-the-world-2401458_960_720.jpg") center/cover no-repeat;
  }
  .section_new .form_box {
    height: auto;
  }
  .section_new .form_box input {
    font-size: 1.1111vw;
    margin: 0.6944vw 0;
  }
  .section_new .form_box input[type=file] {
    font-size: 0.3vw;
    height: auto;
  }
  .section_new .form_box label {
    font-size: 1.4vw;
    color: rgba(16, 18, 129, 0.973);
    margin: 0.3472vw;
  }
  .section_new .pre_img {
    width: 20.8333vw;
    margin: 0 auto;
  }

  .section_list {
    overflow-y: scroll;
  }
  .section_list .list_box {
    width: 80%;
    margin: 0 auto 6.9444vw;
  }
  .section_list .list_box .list_item {
    align-items: center;
    height: 25.6944vw;
    margin: 1.3889vw;
    background-color: rgba(228, 228, 230, 0.993);
    background: linear-gradient(to bottom, rgba(236, 235, 235, 0.459), rgba(209, 208, 208, 0.459));
  }
  .section_list .list_box .list_item .img_box {
    width: 50%;
    width: 55.5556vw;
  }
  .section_list .list_box .list_item .txt_box {
    width: 50%;
    left: -6.9444vw;
    padding: 2.7778vw;
    height: auto;
    border-radius: 1.3889vw;
  }
  .section_list .list_box .list_item .txt_box h3 {
    font-size: 1.9444vw;
    letter-spacing: 0.0694vw;
  }
  .section_list .list_box .list_item .txt_box p {
    font-size: 1.25vw;
    line-height: 1.9444vw;
  }
  .section_list .list_box .list_item .txt_box .rate_box {
    top: -4.1667vw;
    right: -4.1667vw;
  }
  .section_list .list_box .list_item .txt_box .btn_view {
    width: 10.4167vw;
    line-height: 2.7778vw;
    margin-top: 1.3889vw;
    border-radius: 0.3472vw;
    background-color: #1a1c9b;
    font-size: 1.1111vw;
    cursor: pointer;
    box-shadow: 0.1389vw 0.2778vw 0.3472vw rgba(0, 0, 0, 0.26);
  }

  .section_place {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
  }
  .section_place .place_box {
    width: 85vw;
    margin: 0 auto;
  }
  .section_place .place_box .item_box {
    width: 50%;
    padding: 1.3889vw;
  }
  .section_place .place_box .item_box .detail_box .img_box {
    width: 40.2778vw;
  }
  .section_place .place_box .item_box .detail_box .txt_box {
    padding: 1.3889vw 0;
  }
  .section_place .place_box .item_box .detail_box .txt_box .intro_box {
    align-items: center;
  }
  .section_place .place_box .item_box .detail_box .txt_box .intro_box h3 {
    font-size: 1.9444vw;
  }
  .section_place .place_box .item_box .detail_box .txt_box .intro_box .rate_input {
    margin: 0 0.3472vw;
    width: 4.9306vw;
    height: 0.9722vw;
    font-size: 0.9722vw;
  }
  .section_place .place_box .item_box .detail_box .txt_box .intro_box .rate_input span {
    line-height: 0.9722vw;
  }
  .section_place .place_box .item_box .detail_box .txt_box .intro_box p {
    font-size: 0.9722vw;
  }
  .section_place .place_box .item_box .detail_box .txt_box p {
    font-size: 1.1111vw;
  }
  .section_place .place_box .item_box .opt_box {
    align-items: flex-end;
  }
  .section_place .place_box .item_box .opt_box button.del_place {
    font-size: 0.8333vw;
    width: 6.9444vw;
    height: 2.0833vw;
    line-height: 2.0833vw;
    cursor: pointer;
    border: none;
    background-color: rgba(19, 21, 119, 0.11);
    background: linear-gradient(to bottom, rgba(240, 238, 238, 0.459), rgba(223, 221, 221, 0.459));
  }
  .section_place .place_box .item_box .opt_box button.del_place:hover {
    background: transparent;
    background-color: rgba(182, 11, 11, 0.911);
    transition: 0.3s;
  }
  .section_place .place_box .item_box .opt_box #map {
    width: 13.8889vw;
    height: 6.9444vw;
  }
  .section_place .place_box .review_box {
    width: 50%;
    flex-direction: column;
  }
  .section_place .place_box .review_box .review_add {
    margin: 1.3889vw auto;
    width: 100%;
    padding: 1.3889vw 2.0833vw;
  }
  .section_place .place_box .review_box .review_add form {
    width: 100%;
    height: 17.3611vw;
    flex-direction: column;
    background-color: #e7e7ec;
    background: linear-gradient(to bottom, rgba(236, 235, 235, 0.459), rgba(209, 208, 208, 0.459));
  }
  .section_place .place_box .review_box .review_add form .top_box {
    align-items: center;
  }
  .section_place .place_box .review_box .review_add form .top_box h3 {
    font-size: 1.6667vw;
    color: #131577;
  }
  .section_place .place_box .review_box .review_add form .top_box .rate_input {
    width: 12.5vw;
    height: 3.4722vw;
    margin-left: 6.25vw;
    font-size: 2.5vw;
  }
  .section_place .place_box .review_box .review_add form .top_box .rate_input span {
    width: 100%;
    line-height: 2.4306vw;
    color: #bebcbc;
  }
  .section_place .place_box .review_box .review_add form .top_box .rate_input span.filled {
    width: 60%;
  }
  .section_place .place_box .review_box .review_add form .top_box .rate_input input[name=rate] {
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  .section_place .place_box .review_box .review_add form .bottom_box textarea {
    padding: 5%;
    width: 100%;
    height: 10.4167vw;
  }
  .section_place .place_box .review_box .review_add form .bottom_box input[type=submit] {
    width: 30%;
    margin: 0 auto;
    top: 75%;
    right: 10%;
    cursor: pointer;
  }
  .section_place .place_box .review_box .review_list {
    padding: 1.3889vw 2.0833vw;
    margin-bottom: 3.4722vw;
  }
  .section_place .place_box .review_box .review_list .review_item {
    padding: 0.6944vw;
    margin-bottom: 0.6944vw;
    background: linear-gradient(to bottom, rgba(240, 238, 238, 0.459), rgba(223, 221, 221, 0.459));
  }
  .section_place .place_box .review_box .review_list .review_item .review_edit {
    top: 0.6944vw;
    right: 0.6944vw;
    width: 4.8611vw;
  }
  .section_place .place_box .review_box .review_list .review_item .review_edit p {
    font-size: 0.8333vw;
    color: #4e4c4c;
    cursor: pointer;
  }
  .section_place .place_box .review_box .review_list .review_item .review_rate {
    align-items: center;
    margin-bottom: 0.3472vw;
    width: 7.6389vw;
    height: 1.9444vw;
  }
  .section_place .place_box .review_box .review_list .review_item .review_rate span {
    color: #bebcbc;
    font-size: 1.5278vw;
  }
  .section_place .place_box .review_box .review_list .review_item .review_rate span.filled {
    width: 20%;
  }
  .section_place .place_box .review_box .review_list .review_item .review_txt {
    padding: 0.3472vw;
  }
  .section_place .place_box .review_box .review_list .review_item .review_txt h3 {
    font-size: 1.1111vw;
  }
  .section_place .place_box .review_box .review_list .review_item .review_txt p {
    margin: 1.0417vw;
    font-size: 1.1111vw;
  }
  .section_place .place_box .review_box .review_list .review_item .del_review {
    top: 0.6944vw;
    right: 0.6944vw;
    cursor: pointer;
    border: none;
  }

  .mapboxgl-popup-content {
    padding: 1.0417vw 0.3472vw;
  }
  .mapboxgl-popup-content img {
    width: 8.3333vw;
    height: 4.8611vw;
  }
  .mapboxgl-popup-content h2 {
    font-size: 0.9028vw;
  }

  .rate_input {
    width: 12.5vw;
    height: 3.4722vw;
    font-size: 2.5vw;
  }
  .rate_input span {
    width: 100%;
    line-height: 2.4306vw;
    color: #bebcbc;
  }
  .rate_input span.filled {
    width: 60%;
  }
  .rate_input input[name=rate] {
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
}
@media all and (max-width: 767px) {
  nav {
    width: 100vw;
    padding: 3vw 3.2595vw;
    background: linear-gradient(to bottom, rgba(245, 244, 244, 0.459), rgba(180, 180, 180, 0.459));
  }
  nav .logo a {
    color: #131577;
    font-size: 6vw;
    letter-spacing: 0.2608vw;
    font-family: "Lobster", cursive;
  }
  nav .menu {
    align-items: center;
  }
  nav .menu a {
    color: #131577;
    font-family: "Lobster", cursive;
    font-size: 4vw;
    letter-spacing: 0.1304vw;
    width: 13.0378vw;
    align-items: center;
  }
  nav .menu .login_box a {
    width: 15vw;
  }

  #map {
    width: 100%;
    height: 100%;
  }

  section {
    width: 100vw;
    height: 100vh;
    background-color: rgba(190, 190, 190, 0.164);
  }
  section .form_box {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2.6076vw;
    width: 45.6323vw;
    height: auto;
    padding: 6vw;
    flex-direction: column;
  }
  section .form_box:before {
    top: -2.6076vw;
    right: 1.3038vw;
    width: 12vw;
    height: 12vw;
    opacity: 1;
    background: url("https://cdn.pixabay.com/photo/2017/07/17/13/25/seal-2512363_960_720.png") center/cover no-repeat;
  }
  section .form_box h2 {
    font-family: "Lobster", cursive;
    color: rgba(16, 18, 129, 0.973);
    font-size: 8vw;
    letter-spacing: 0.5215vw;
    margin-bottom: 1.3038vw;
  }
  section .form_box input {
    font-size: 4vw;
    border-radius: 0.6519vw;
    border: none;
    box-shadow: none;
    letter-spacing: 0.1304vw;
    text-indent: 3vw;
    height: 9vw;
  }
  section .form_box input[type=file] {
    box-shadow: none;
  }
  section .form_box input:invalid {
    background: rgba(230, 229, 229, 0.596);
  }
  section .form_box textarea {
    border: none;
    border-radius: 0.6519vw;
    letter-spacing: 0.1304vw;
    padding: 0.9126vw;
  }
  section .form_box .btn_submit {
    font-size: 4vw;
    border: none;
    height: 8vw;
    cursor: pointer;
    margin-top: 1.3038vw;
    color: #fff;
    background-color: #1a1c9b;
    box-shadow: none;
  }

  .section_login:before {
    width: 100%;
    height: 100%;
    opacity: 0.9;
    background: url("https://cdn.pixabay.com/photo/2017/06/14/08/20/map-of-the-world-2401458_960_720.jpg") center/cover no-repeat;
  }
  .section_login .form_login {
    width: 68vw;
    height: 68vw;
  }

  .section_register:before {
    width: 100%;
    height: 100%;
    opacity: 0.9;
    background: url("https://cdn.pixabay.com/photo/2017/06/14/08/20/map-of-the-world-2401458_960_720.jpg") center/cover no-repeat;
  }
  .section_register .form_register {
    width: 68vw;
    height: 68vw;
  }

  .section_new:before {
    width: 100%;
    height: 100%;
    opacity: 0.9;
    background: url("https://cdn.pixabay.com/photo/2017/06/14/08/20/map-of-the-world-2401458_960_720.jpg") center/cover no-repeat;
  }
  .section_new .form_box {
    height: auto;
    width: 68vw;
  }
  .section_new .form_box input {
    margin: 1.3038vw 0;
  }
  .section_new .form_box input[type=file] {
    height: auto;
    margin: 1vw auto;
  }
  .section_new .form_box label {
    font-size: 5vw;
    color: rgba(16, 18, 129, 0.973);
    margin: 0.6519vw;
  }
  .section_new .pre_img {
    width: 56vw;
    margin: 2vw auto;
  }

  .section_list {
    overflow-y: scroll;
  }
  .section_list .list_box {
    width: 90%;
    margin: 0 auto 13.0378vw;
  }
  .section_list .list_box .list_item {
    flex-direction: column;
    align-items: center;
    height: auto;
    margin: 2.6076vw;
    background-color: transparent;
    background: none;
  }
  .section_list .list_box .list_item .img_box {
    width: 100%;
  }
  .section_list .list_box .list_item .txt_box {
    width: 100%;
    top: -5vw;
    left: 0;
    padding: 6vw;
    border-radius: 0vw;
    background-color: #eeeded;
  }
  .section_list .list_box .list_item .txt_box h3 {
    font-size: 3.6506vw;
    letter-spacing: 0.1304vw;
  }
  .section_list .list_box .list_item .txt_box p {
    font-size: 2.3468vw;
    line-height: 3.6506vw;
  }
  .section_list .list_box .list_item .txt_box .rate_box {
    top: -7.8227vw;
    right: 3vw;
  }
  .section_list .list_box .list_item .txt_box .btn_view {
    width: 19.5567vw;
    line-height: 5.2151vw;
    margin-top: 2.6076vw;
    border-radius: 0.6519vw;
    background-color: #1a1c9b;
    font-size: 2.086vw;
    cursor: pointer;
    box-shadow: 0.2608vw 0.5215vw 0.6519vw rgba(0, 0, 0, 0.26);
  }

  .section_place {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
  }
  .section_place .place_box {
    width: 90%;
    margin: 5vw auto;
    flex-direction: column;
  }
  .section_place .place_box .item_box {
    width: 100%;
    padding: 2.6076vw;
  }
  .section_place .place_box .item_box .detail_box .img_box {
    width: 100%;
  }
  .section_place .place_box .item_box .detail_box .txt_box {
    padding: 2.6076vw 0;
  }
  .section_place .place_box .item_box .detail_box .txt_box .intro_box {
    align-items: center;
  }
  .section_place .place_box .item_box .detail_box .txt_box .intro_box h3 {
    font-size: 5.5vw;
    margin-right: 1vw;
  }
  .section_place .place_box .item_box .detail_box .txt_box .intro_box .rate_input {
    margin: 0 0.6519vw;
    width: 17vw;
    height: 3.4vw;
    font-size: 3.4vw;
  }
  .section_place .place_box .item_box .detail_box .txt_box .intro_box .rate_input span {
    line-height: 3.4vw;
  }
  .section_place .place_box .item_box .detail_box .txt_box .intro_box p {
    font-size: 3vw;
  }
  .section_place .place_box .item_box .detail_box .txt_box p {
    font-size: 3vw;
  }
  .section_place .place_box .item_box .opt_box {
    margin-bottom: 3vw;
    align-items: flex-end;
  }
  .section_place .place_box .item_box .opt_box button.del_place {
    font-size: 1.5645vw;
    width: 13.0378vw;
    height: 4vw;
    line-height: 4vw;
    cursor: pointer;
    border: none;
    background: rgba(182, 11, 11, 0.911);
    color: #fff;
  }
  .section_place .place_box .item_box .opt_box #map {
    width: 30vw;
    height: 15vw;
  }
  .section_place .place_box .review_box {
    flex-direction: column-reverse;
    width: 100%;
  }
  .section_place .place_box .review_box .review_add {
    margin: 2.6076vw auto;
    padding: 2.6076vw 3.9113vw;
    height: auto;
  }
  .section_place .place_box .review_box .review_add form {
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
    height: 40vw;
    margin-bottom: 13vw;
    flex-direction: column;
    background-color: #e7e7ec;
    background: linear-gradient(to bottom, rgba(236, 235, 235, 0.459), rgba(209, 208, 208, 0.459));
  }
  .section_place .place_box .review_box .review_add form .top_box {
    align-items: center;
  }
  .section_place .place_box .review_box .review_add form .top_box h3 {
    font-size: 4vw;
    color: #131577;
  }
  .section_place .place_box .review_box .review_add form .top_box .rate_input {
    width: 23.4681vw;
    height: 6.5189vw;
    margin-left: 11.734vw;
    font-size: 4.6936vw;
  }
  .section_place .place_box .review_box .review_add form .top_box .rate_input span {
    width: 100%;
    line-height: 4.5632vw;
    color: #bebcbc;
  }
  .section_place .place_box .review_box .review_add form .top_box .rate_input span.filled {
    width: 60%;
  }
  .section_place .place_box .review_box .review_add form .top_box .rate_input input[name=rate] {
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  .section_place .place_box .review_box .review_add form .bottom_box {
    margin-top: 3vw;
  }
  .section_place .place_box .review_box .review_add form .bottom_box textarea {
    padding: 5%;
    width: 100%;
    height: 19.5567vw;
  }
  .section_place .place_box .review_box .review_add form .bottom_box input[type=submit] {
    width: 30%;
    text-indent: 0;
    height: 15%;
    text-align: center;
    margin: 0 auto;
    top: 72%;
    right: 7%;
    font-size: 2.5vw;
    cursor: pointer;
  }
  .section_place .place_box .review_box .review_list {
    padding: 0vw;
    margin-bottom: 6.5189vw;
  }
  .section_place .place_box .review_box .review_list .review_item {
    padding: 1.3038vw;
    margin-bottom: 1.3038vw;
    background: linear-gradient(to bottom, rgba(240, 238, 238, 0.459), rgba(223, 221, 221, 0.459));
  }
  .section_place .place_box .review_box .review_list .review_item .review_edit {
    top: 1.3038vw;
    right: 1.3038vw;
    width: 9.1265vw;
  }
  .section_place .place_box .review_box .review_list .review_item .review_edit p {
    font-size: 2vw;
    color: #4e4c4c;
    cursor: pointer;
  }
  .section_place .place_box .review_box .review_list .review_item .review_rate {
    align-items: center;
    margin-bottom: 0.6519vw;
    width: 14.3416vw;
    height: 3.6506vw;
  }
  .section_place .place_box .review_box .review_list .review_item .review_rate span {
    color: #bebcbc;
    font-size: 2.8683vw;
  }
  .section_place .place_box .review_box .review_list .review_item .review_rate span.filled {
    width: 20%;
  }
  .section_place .place_box .review_box .review_list .review_item .review_txt {
    padding: 2vw;
  }
  .section_place .place_box .review_box .review_list .review_item .review_txt h3 {
    font-size: 3.2vw;
  }
  .section_place .place_box .review_box .review_list .review_item .review_txt p {
    margin: 3vw;
    font-size: 2.086vw;
  }
  .section_place .place_box .review_box .review_list .review_item .del_review {
    top: 1.3038vw;
    right: 1.3038vw;
    cursor: pointer;
    border: none;
  }

  .mapboxgl-popup-content {
    padding: 8vw 2.5vw 2vw !important;
  }
  .mapboxgl-popup-content img {
    width: 25vw;
    height: 18vw;
  }
  .mapboxgl-popup-content h2 {
    font-size: 3.5vw;
  }
  .mapboxgl-popup-content .mapboxgl-popup-close-button {
    font-size: 7vw;
    margin: 0 2vw;
  }

  .rate_input {
    width: 23.4681vw;
    height: 6.5189vw;
    font-size: 4.6936vw;
  }
  .rate_input span {
    width: 100%;
    line-height: 4.5632vw;
    color: #bebcbc;
  }
  .rate_input span.filled {
    width: 60%;
  }
  .rate_input input[name=rate] {
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
}

/*# sourceMappingURL=index.css.map */
