<nav>
  <div class="logo"><a href="/">PlaceList</a></div>
  <div class="menu">
    <% if(!num){%>
    <div class="login_box login_false">
      <a href="/login">Login</a>
      <a href="/register">Register</a>
    </div>
  </div>
  <% }else { %>
  <div class="login_box login_true">
    <a href="/list">List</a>
    <a href="/create">Post Place</a>
    <a href="/" onclick="logoutE()">logout</a>
  </div>
  <%} %>
</nav>
<div class="modal off">
  <div class="msg_box">
    <div class="msg_inner">
      <!-- <p>Welcome!✅⛔⚠️</p>
    ✔️❎ -->
      <div class="txt_box">
        <h3>Welcome</h3>
        <p>Have a good day!</p>
      </div>

      <span class="btn_close">❌</span>
    </div>
  </div>
</div>
