* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: initial;
}
img {
  width: 100%;
}
.off {
  display: none;
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
// nav
nav {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;
  background-color: black;
  color: #fff;
  z-index: 999;
  .logo {
    a {
      color: #fff;
    }
  }

  .menu {
    display: flex;
    align-items: center;
    text-align: center;
    a {
      color: #fff;
      width: 100px;
      align-items: center;
    }
    .login_box {
      display: flex;
      a {
        display: inline-block;
        width: 100px;
      }
    }
  }
}
.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.534);
  .msg_box {
    position: absolute;
    width: 300px;
    height: 170px;
    top: 50%;
    left: 50%;
    background-color: rgb(233, 188, 221);
    transform: translate(-50%, -50%);
    z-index: 999;
    .msg_inner {
      position: relative;
      padding: 20px 30px;
      .txt_box {
        margin-top: 30px;
        h3 {
          font-size: 36px;
        }
        p {
          font-size: 17px;
          line-height: 28px;
        }
      }
      .btn_close {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
      }
    }
  }
}

#map {
  position: relative;
  width: 100%;
  height: 100%;
}
section {
  width: 100vw;
  height: 100vh;
  .form_box {
    position: relative;
    justify-content: space-between;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(244, 232, 255);
    border-radius: 20px;
    width: 350px;
    height: 450px;
    padding: 20px;
    display: flex;
    flex-direction: column;

    h2 {
      font-size: 28px;
      margin-bottom: 10px;
    }

    input {
      position: relative;
      border-radius: 5px;
      border: none;
      box-shadow: 5px 5px 5px rgba(83, 81, 85, 0.384);
      letter-spacing: 1px;
      text-indent: 10px;
      height: 25px;

      &[type="file"] {
        box-shadow: none;
      }

      &:invalid {
        background-color: rgba(255, 0, 149, 0.26);
        // position: absolute;
        // content: "✅";
      }
    }

    textarea {
      border: none;
      border-radius: 5px;
      letter-spacing: 1px;
      padding: 7px;
      font-weight: 600;
    }

    button {
      border: none;
      height: 30px;
      cursor: pointer;
      margin-top: 10px;
    }
  }
}

.section_login {
  .form_login {
    width: 300px;
    height: 250px;
  }
}

.section_register {
  .form_register {
    width: 300px;
    height: 250px;
  }
}

.section_list {
  overflow-y: scroll;
  .list_box {
    width: 80%;
    margin: 0 auto;
    .list_item {
      display: flex;
      align-items: center;
      height: auto;
      margin: 20px;
      background-color: rgba(231, 198, 223, 0.295);

      .img_box {
        width: 50%;
      }
      .txt_box {
        width: 50%;
        padding: 5%;
        height: auto;
        h3 {
          font-size: 24px;
        }
        p {
          font-size: 16px;
          line-height: 28px;
        }
        .btn_view {
          display: block;
          width: 150px;
          line-height: 40px;
          margin-top: 20px;
          text-align: center;
          border-radius: 5px;
          color: #fff;
          background-color: rgb(202, 168, 233);
          font-size: 16px;
          cursor: pointer;
          box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.26);
        }
      }
    }
  }
}
.section_place {
  width: 100%;
  height: 100%;
  .place_box {
    display: flex;
    width: 80%;
    border: 2px solid red;
    margin: 0 auto;
    .item_box {
      width: 50%;
      .img_box {
      }
      .txt_box {
        h3 {
        }
        p {
        }
      }
    }
    .review_box {
      width: 50%;
      form {
        position: relative;
        margin: 0 auto;
        width: 80%;
        display: flex;
        flex-direction: column;
        .top_box {
          display: flex;
          align-items: center;
          justify-content: space-around;
          .rate_input {
            position: relative;
            width: 180px;
            height: 50px;
            font-size: 36px;
            span {
              width: 100%;
              position: absolute;
              z-index: 1;
              line-height: 35px;
              color: rgb(190, 188, 188);
            }
            span.filled {
              width: 100%;
              overflow: hidden;
              color: red;
              z-index: 9;
            }
            input[name="rate"] {
              position: absolute;
              width: 100%;
              height: 100%;
              z-index: 99;
              opacity: 0;
              cursor: pointer;
            }
          }
        }
        .bottom_box {
          textarea {
            padding: 5%;
            width: 100%;
            height: 150px;
          }

          input[type="submit"] {
            position: absolute;
            width: 30%;
            margin: 0 auto;
            top: 80%;
            right: 5%;
          }
        }
      }
    }
  }
  // background-color: red;
}
